# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/

# Visual Studio Code
.vscode/
*.code-workspace

# Rider/IntelliJ
.idea/
*.sln.iml
*.swp
*.swo
*~

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Visual Studio Profiler
*.psess
*.vsp
*.vspx

# Test Results
TestResults/

# NuGet Packages
*.nupkg
*.snupkg
.nuget/

# Publish folder
PublishProfiles/
publish/

# dotCover
.dotcover

# BenchmarkDotNet
BenchmarkDotNet.Artifacts/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
*.iml

# OS specific
.DS_Store
Thumbs.db
